pandas==0.24.2
scikit-learn==0.20.4
google-cloud-storage==1.26.0
category_encoders
mlflow==1.8.0
numpy==1.18.4
psutil==5.7.0
memoized-property==1.0.3
scipy==1.4.1
category_encoders==2.2.2
tensorflow==2.3.0
tensorflow-estimator==2.3.0
Pillow==7.2.0
joblib==0.16.0
s3fs
